    <!-- Page footer -->
    <footer>
      <div class='container'>
        <div class='row'>
          <div class='col-xs-12 col-sm-4'>
            <p class='footer-title'>Customer Support</p>
            <div class='col-xs-6'>
              <p><a href='#'>Contact Us</a></p>
              <p><a href='#'>FAQs</a></p>
              <p><a href='#'>Terms of Use</a></p>
            </div>
            <div class='col-xs-6'>
              <p><a href='#'>Legal</a></p>
              <p><a href='#'>Privacy Policy</a></p>
              <p><a href='#'>Sitemap</a></p>
            </div>
          </div>

          <div class='col-xs-12 col-sm-4'>
            <p class='footer-title'>About Us</p>
            <div class='col-xs-6'>
              <p><a href='#'>About Us</a></p>
              <p><a href='#'>Press</a></p>
              <p><a href='#'>Brochures</a></p>
            </div>
            <div class='col-xs-6'>
              <p><a href='#'>Blog</a></p>
              <p><a href='#'>Careers</a></p>
            </div>
          </div>

          <div class='col-xs-12 col-sm-4 footer-logosAndLinks'>
            <p class='footer-item logo'>TourMallorca</p>
            <a href='#'><i class="fa fa-yelp fa-2x" aria-hidden="true"></i></a>
            <a href='#'><i class="fa fa-tripadvisor fa-2x" aria-hidden="true"></i></a>
            <a href='#'><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
            <a href='#'><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>
          </div>
        </div>

        <hr>

        <p class='footer-item'><i class="fa fa-copyright" aria-hidden="true"></i> 2017 Mock Webpage by Christopher Liu</p>
      </div>
    </footer>


    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous'></script>
  </body>
</html>
