    <!-- Page footer -->
    <footer>
      <div class='container'>
        <div class='row'>
          <div class='col-xs-12 col-sm-4'>
            <p>Customer Support</p>
            <div class='col-xs-6'>
              <p><a>Contact Us</a></p>
              <p><a>FAQs</a></p>
              <p><a></a></p>
            </div>
            <div class='col-xs-6'>
              <p><a>Privacy Policy</a></p>
              <p><a>Sitemap</a></p>
              <p><a></a></p>
            </div>
          </div>

          <div class='col-xs-12 col-sm-4'>
            <p>About Us</p>
            <div class='col-xs-6'>
              <p><a>About Us</a></p>
              <p><a>Press</a></p>
              <p><a></a></p>
            </div>
            <div class='col-xs-6'>
              <p><a>Blog</a></p>
              <p><a>Careers</a></p>
              <p><a></a></p>
            </div>
          </div>

          <div class='col-xs-12 col-sm-4'>
            <p class='footer-item logo'>TourMallorca</p>
            <p class='footer-item'>Mock Webpage by Christopher Liu</p>
            <a href='#'><i class="fa fa-yelp fa-2x" aria-hidden="true"></i></a>
            <a href='#'><i class="fa fa-tripadvisor fa-2x" aria-hidden="true"></i></a>
            <a href='#'><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
            <a href='#'><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </footer>


    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous'></script>
  </body>
</html>
