<% include ./partials/header.ejs %>


    <div id="main-page-jumbo">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div id="main-content">
                <h1>¡Hola Mallorca!</h1>
                <h3>Discover the hidden gems of Mallorca</h3>
                <a class="btn btn-default" href="/about" role="button">Lets Go!</a>
              </div>
          </div>
        </div>
      </div>
    </div>


<% include ./partials/footer.ejs %>
