<% include ./partials/header.ejs %>

<div class='index-body container'>

  <% vacations.forEach(function(vacation) { %>
    <div class='index-block row'>
      <img src='<%= vacation.image %>' class='col-sm-3'>
      <div class='col-sm-9'>
        <p class='index-description'><%= vacation.description.slice(0,400) + '...' %></p>
        <p>
          <a href='/vacations/<%= vacation._id  %>'>See More</a>
        </p>
      </div>
    </div>
  <% }); %>

</div>

<% include ./partials/footer.ejs %>
