<% include ./partials/header.ejs %>

<div class='container show-page'>
  <div class='row'>

    <div class='show-sidebar col-md-3'>
      <div class='list-group'>
        <div class='list-group-item'>Test 1</div>
        <div class='list-group-item'>Test 2</div>
        <div class='list-group-item'>Test 3</div>
      </div>
    </div>

    <div class='show-body col-md-9'>
      Test
    </div>
  </div>
</div>


<% include ./partials/footer.ejs %>
