body{
  color: black;
  font-family: 'Poppins', sans-serif;
}

.logo{
  font-family: 'Pacifico', cursive;
}

footer{
  background: #f9e890;
  height: 20vh;
  padding: 15px;
  margin: 10px 0 0 0;
}

footer .logo,
.navbar-header .logo{
  font-size: 1.75em;
}

.footer-item{
  text-align: right;
}



/*     Main page (index.ejs)    */
.jumbotron-content{
  margin-top: 20%;
  text-align: center;
  background:rgba(255,255,255,0.5);
  border-radius: 2.5%;
}

.jumbotron-title{
  font-size: 2.5em;
}

.jumbotron-description{
  font-size: 1.75em;
}

#main-page-jumbo{
  margin-top: 25px;
  background-image: url(/img/mallorca-jumbo-cropped.jpg);
  background-size: cover;
  height: 65vh;
}

.about-body{
  padding-top: 70px;
}

.about-row-title{
  text-align: center;
}

.about-blurb{
  font-size: 15px;
}

hr{
  height: 5px;
}




/*    Media Queries   */
@media (min-width: 1024px){
  .jumbotron-content{
    margin-top: 15%;
    text-align: left;
    width: 50%;
    padding: 10px 10px;
  }

  .jumbotron-title,
  .jumbotron-description{
    text-align: center;
  }
}
