body{
  color: black;
  font-family: 'Poppins', sans-serif;
  margin-top: 50px;
}

.logo{
  font-family: 'Pacifico', cursive;
}

footer{
  background: #f9e890;
  height: 20vh;
  padding: 15px;
  margin: 10px 0 0 0;
}

footer .logo,
.navbar-header .logo{
  font-size: 1.75em;
}

.footer-item{
  text-align: right;
}



/*     Main page (landing.ejs)    */
.jumbotron-content{
  margin-top: 20%;
  text-align: center;
  background:rgba(255,255,255,0.5);
  border-radius: 2.5%;
}

.jumbotron-title{
  font-size: 2.5em;
}

.jumbotron-description{
  font-size: 1.75em;
}

.jumbo{
  background-image: url(/img/soller-jumbo-cropped.jpg);
  background-size: cover;
  height: 65vh;
}

.homepage-packages-section{
  margin: 40px 0 0 0;
  padding: 5px 5px;
}

.homepage-button{
  margin: 40px 0;
  text-align: center;
}

.caption a{
  float: right;
}

.row-title{
  font-size: 2.5em;
  text-align: center;
}

.about-body{
  margin-top: 40px;
}

.about-blurb{
  font-size: 15px;
}



/* Index page (index.ejs) */
.index-jumbo{
  background-image: url(/img/mallorca-jumbo-cropped.jpg);
  background-size: cover;
  height: 45vh;

}

.index-body{
  margin-top: 40px;
}

.index-block{
  margin: 20px 0;
}

.index-block-content{
  padding: 10px 5px;
}

.index-block-title{
  font-weight: 600;
  font-size: 1.75em;
}

.index-hr{
  font-weight: 600;
}




/*    Media Queries   */
@media (min-width: 1024px){
  .jumbotron-content{
    margin-top: 15%;
    text-align: left;
    width: 50%;
    padding: 10px 10px;
  }

  .jumbotron-title,
  .jumbotron-description{
    text-align: center;
  }
}
